<div data-fls-index class="index">

	<section data-fls-section class="section">
		<div class="section__container">
			<div class="section-head">
				<div class="section-head__title">
					<h2>
						Популярные бренды
					</h2>
				</div>

			</div>

			<div class="section-body">
				<!-- content -->
				<div data-fls-slider='popular' class="swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="@img/mira.png" alt="Image">
						</div>
						<div class="swiper-slide">
							<img src="@img/barila.png" alt="Image">
						</div>
						<div class="swiper-slide">
							<img src="@img/greenLine.png" alt="Image">
						</div>
						<div class="swiper-slide">
							<img src="@img/gurme.png" alt="Image">
						</div>
						<div class="swiper-slide">
							<img src="@img/select.png" alt="Image">
						</div>
						<div class="swiper-slide">
							<img src="@img/market.png" alt="Image">
						</div>
						<div class="swiper-slide">
							<img src="@img/holy.png" alt="Image">
						</div>

					</div>

					<!-- If we need navigation buttons -->
					<div class="swiper-button-prev">
						<svg>
							<use xlink:href="__spritemap#sprite-chevronLeft"></use>
						</svg>
					</div>
					<div class="swiper-button-next">
						<svg>
							<use xlink:href="__spritemap#sprite-chevronRight"></use>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</section>

	<include src="@components/custom/links/links.html"></include>


</div>
