<div data-fls-contacts class="contacts">
	<div class="contacts__item">
		<p class="contacts__label">Телефон:</p>
		<a href="tel:+78712224488" class="contacts__value contacts__value--big">+7 8712 22-44-88</a>
	</div>

	<div class="contacts__item">
		<p class="contacts__label">E-mail:</p>
		<a href="mailto:info@vkusdom.ru" class="contacts__value contacts__value--big">info@vkusdom.ru</a>
	</div>

	<div class="contacts__item">
		<p class="contacts__label">Адрес:</p>
		<address class="contacts__value">364024, Чеченская Республика, г. Грозный, проспект А.А. Кадырова, 115</address>
	</div>

	<div class="contacts__item">
		<p class="contacts__label">График работы:</p>
		<p class="contacts__value">Ежедневно с 08:00 до 23:00</p>
	</div>
</div>
