<div data-fls-app-links class="app-links" role="navigation" aria-label="Мобильные приложения">
	<a href="#" class="app-links__item">
		<span class="app-links__icon">
			<svg>
				<use xlink:href="__spritemap#sprite-apple"></use>
			</svg>
		</span>
		<span class="app-links__text">Загрузите в<br>App Store</span>
	</a>

	<a href="#" class="app-links__item">
		<span class="app-links__icon">
			<svg>
				<use xlink:href="__spritemap#sprite-googlePlay"></use>
			</svg>
		</span>
		<span class="app-links__text">Доступно в<br>Google Play</span>
	</a>

	<a href="#" class="app-links__item">
		<span class="app-links__icon">
			<svg>
				<use xlink:href="__spritemap#sprite-ruStore"></use>
			</svg>
		</span>
		<span class="app-links__text">Загрузите в<br>RuStore</span>
	</a>
</div>
