<div class="search-dropdown">
	<!-- Блок товаров -->
	<div class="search-dropdown__section">

		<div class="search-dropdown__products">

			<!-- карточка товара -->
			<div class="search-product">
				<div class="search-product__img">
					<a href="#">
						<img src="./assets/img/search/search1.webp">
					</a>
				</div>
				<div class="search-product__info">
					<div class="search-product__name">
						<a href="#">Бусы из элитного шунгита</a>
					</div>
					<div class="search-product__price">
						<div class="search-product__value">600 ₽</div>
						<div class="search-product__old">800 ₽</div>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>
