<nav data-fls-footer-menu class="footer-menu" role="navigation" aria-label="Меню в подвали">
	<ul class="footer-menu__list">
		<li class="footer-menu__item">
			<a href="#" class="footer-menu__link">Каталог</a>
		</li>
		<li class="footer-menu__item">
			<a href="#" class="footer-menu__link">Акции</a>
		</li>
		<li class="footer-menu__item">
			<a href="#" class="footer-menu__link">Мои бонусы</a>
		</li>
		<li class="footer-menu__item">
			<a href="#" class="footer-menu__link">Оплата и доставка</a>
		</li>
		<li class="footer-menu__item">
			<a href="#" class="footer-menu__link">Укажите способ получения</a>
		</li>
	</ul>

	<ul class="footer-menu__list">
		<li class="footer-menu__item">
			<a href="#" class="footer-menu__link">Политика обработки Пдн</a>
		</li>
		<li class="footer-menu__item">
			<a href="#" class="footer-menu__link">Горячая линия</a>
		</li>
		<li class="footer-menu__item">
			<a href="#" class="footer-menu__link">Правовая информация</a>
		</li>
		<li class="footer-menu__item">
			<a href="#" class="footer-menu__link">Вакансии</a>
		</li>
		<li class="footer-menu__item">
			<a href="#" class="footer-menu__link">О компании</a>
		</li>
	</ul>
</nav>
