<div data-fls-user class="user" role='navigation'
	aria-label='users link'>

	<div class="user__list">

		<button class="button button--primary">
			<span class="button__svg">
				<svg>
					<use xlink:href="__spritemap#sprite-mapPin"></use>
				</svg>
			</span>
			<span class="button__text">
				Укажите способ получения
			</span>
		</button>

		<div class="user__item">

			<span class="user__count active">1</span>

			<a href="#" class="user__link user-link">
				<span class="user-link__icon">
					<svg>
						<use xlink:href="__spritemap#sprite-heart"></use>
					</svg>
				</span>

			</a>

		</div>

		<div class="user__item">

			<a href="#" class="user__link user-link">

				<span class="user-link__icon">
					<svg>
						<use xlink:href="__spritemap#sprite-cart"></use>
					</svg>
				</span>

			</a>

		</div>

		<div class="user__item">

			<a href="#" class="user__link user-link">
				<span class="user-link__icon">
					<svg>
						<use xlink:href="__spritemap#sprite-user"></use>
					</svg>
				</span>

			</a>

		</div>

	</div>

</div>
