<nav data-fls-navigation class="navigation" role='navigation'
	aria-label='site navigation' data-slider-parent>

	<!-- Кнопки -->
	<button class="navigation__button swiper-button-prev" type="button"
		aria-label="Предыдущий элемент">
		<svg>
			<use xlink:href="__spritemap#sprite-chevronLeft"></use>
		</svg>
	</button>



	<div class="swiper navigation__slider" data-fls-slider='simple'>

		<ul class="navigation__list swiper-wrapper">

			<li class="navigation__item swiper-slide">
				<a href="#" class="navigation__link">
					<span class="navigation__text">
						Акции
					</span>
				</a>
			</li>

			<li class="navigation__item swiper-slide">
				<a href="#" class="navigation__link">
					<span class="navigation__text">
						Хиты продаж
					</span>
				</a>
			</li>

			<li class="navigation__item swiper-slide">
				<a href="#" class="navigation__link">
					<span class="navigation__text">
						Новинки
					</span>
				</a>
			</li>

			<li class="navigation__item swiper-slide">
				<a href="#" class="navigation__link">
					<span class="navigation__text">
						Сделано в Чеченской Республике
					</span>
				</a>
			</li>

			<li class="navigation__item swiper-slide">
				<a href="#" class="navigation__link">
					<span class="navigation__text">
						Готовая еда
					</span>
				</a>
			</li>

			<li class="navigation__item swiper-slide">
				<a href="#" class="navigation__link">
					<span class="navigation__text">
						Собственное производство
					</span>
				</a>
			</li>

			<li class="navigation__item swiper-slide">
				<a href="#" class="navigation__link">
					<span class="navigation__text">
						Овощи и фрукты
					</span>
				</a>
			</li>

			<li class="navigation__item swiper-slide">
				<a href="#" class="navigation__link">
					<span class="navigation__text">
						Мясо
					</span>
				</a>
			</li>

			<li class="navigation__item swiper-slide">
				<a href="#" class="navigation__link">
					<span class="navigation__text">
						Рыба
					</span>
				</a>
			</li>

			<li class="navigation__item swiper-slide">
				<a href="#" class="navigation__link">
					<span class="navigation__text">
						Сыры
					</span>
				</a>
			</li>

			<li class="navigation__item swiper-slide">
				<a href="#" class="navigation__link">
					<span class="navigation__text">
						Хлеб
					</span>
				</a>
			</li>

			<li class="navigation__item swiper-slide">
				<a href="#" class="navigation__link">
					<span class="navigation__text">
						Мясо
					</span>
				</a>
			</li>

			<li class="navigation__item swiper-slide">
				<a href="#" class="navigation__link">
					<span class="navigation__text">
						Рыба
					</span>
				</a>
			</li>

			<li class="navigation__item swiper-slide">
				<a href="#" class="navigation__link">
					<span class="navigation__text">
						Сыры
					</span>
				</a>
			</li>

			<li class="navigation__item swiper-slide">
				<a href="#" class="navigation__link">
					<span class="navigation__text">
						Хлеб
					</span>
				</a>
			</li>

		</ul>

	</div>

	<button class="navigation__button swiper-button-next" type="button"
		aria-label="Следующий элемент">
		<svg>
			<use xlink:href="__spritemap#sprite-chevronRight"></use>
		</svg>
	</button>

</nav>
