<footer data-fls-footer class="footer">
	<div class="footer__container">
		<div class="footer__body">
			<div class="footer__main">
				<include src="@components/custom/logo/logo.html"></include>

				<include src="@components/custom/footer-menu/footer-menu.html"></include>

				<include src="@components/custom/app-links/app-links.html"></include>
			</div>

			<div class="footer__aside">
				<include src="@components/custom/subscribe/subscribe.html"></include>

				<include src="@components/custom/contacts/contacts.html"></include>

				<include src="@components/custom/socials/socials.html"></include>
			</div>
		</div>

		<div class="footer__bottom">
			<small class="footer__copy">©2026. Официальный сайт сети «ВкусДом» — доставка продуктов на дом</small>

			<a href="#" class="footer__privacy">Политика конфиденциальности</a>
		</div>
	</div>
</footer>
