<div data-fls-breadcrumbs class="breadcrumbs">
	<div class="breadcrumbs__container">
		<ul class="breadcrumbs__list">

			<li class="breadcrumbs__item">
				<a href="#" class="breadcrumbs__link">
					Главная
				</a>
			</li>

			<li class="breadcrumbs__dot">
				<svg>
					<use xlink:href="__spritemap#sprite-chevronRight"></use>
				</svg>
			</li>

			<li class="breadcrumbs__item">
				Избранное
			</li>

		</ul>

		<a href="#" class="button">
			<span class=" button__svg">
				<svg>
					<use xlink:href="__spritemap#sprite-chevronLeft"></use>
				</svg>
			</span>

			<span class="button__text">
				Бренды
			</span>
		</a>
	</div>
</div>
